@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/acre.jpg');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 21%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 21%;
    --primary: 152 94% 28%; /* #048C4D - Verde Acre */
    --primary-foreground: 0 0% 100%;
    --secondary: 55 96% 54%; /* #FAE820 - Amarelo Acre */
    --secondary-foreground: 152 94% 28%;
    --muted: 152 20% 96%;
    --muted-foreground: 152 10% 40%;
    --accent: 55 96% 54%;
    --accent-foreground: 152 94% 28%;
    --destructive: 358 89% 52%; /* #F2181F - Vermelho Acre */
    --destructive-foreground: 0 0% 100%;
    --border: 152 20% 90%;
    --input: 152 20% 90%;
    --ring: 152 94% 28%;
    --chart-1: 152 94% 28%;
    --chart-2: 55 96% 54%;
    --chart-3: 358 89% 52%;
    --chart-4: 152 50% 45%;
    --chart-5: 55 50% 70%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 152 10% 26%;
    --sidebar-primary: 152 94% 28%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 55 96% 94%;
    --sidebar-accent-foreground: 152 94% 28%;
    --sidebar-border: 152 10% 91%;
    --sidebar-ring: 152 94% 28%;
  }
  .dark {
    --background: 152 94% 4%;
    --foreground: 0 0% 98%;
    --card: 152 94% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 152 94% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 55 96% 54%;
    --primary-foreground: 152 94% 10%;
    --secondary: 152 94% 28%;
    --secondary-foreground: 55 96% 54%;
    --muted: 152 94% 12%;
    --muted-foreground: 152 10% 63.9%;
    --accent: 152 94% 28%;
    --accent-foreground: 55 96% 54%;
    --destructive: 358 89% 52%;
    --destructive-foreground: 0 0% 98%;
    --border: 152 94% 14.9%;
    --input: 152 94% 14.9%;
    --ring: 55 96% 54%;
    --chart-1: 55 96% 54%;
    --chart-2: 152 94% 28%;
    --chart-3: 358 89% 52%;
    --chart-4: 152 50% 60%;
    --chart-5: 55 50% 40%;
    --sidebar-background: 152 94% 10%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 55 96% 54%;
    --sidebar-primary-foreground: 152 94% 10%;
    --sidebar-accent: 152 94% 15.9%;
    --sidebar-accent-foreground: 55 96% 95.9%;
    --sidebar-border: 152 94% 15.9%;
    --sidebar-ring: 55 96% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
